<!DOCTYPE html>
<html>
<head>
    <title>Recipe List</title>
</head>
<body>
    <h1>Recipes</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'add_recipe' %}">Add Recipe</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <ul>
        {% for recipe in recipes %}
            <li><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'favorite_list' %}">My Favorites</a>
</body>
</html>